
<div class="taken-seats">
  <div class=row>
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group theme-dark-blue">
        <input class="form-control"
              readonly
               (bsValueChange)="whenChange($event)"
               placeholder="wybierz dzień"
               bsDatepicker
               [maxDate]="maxDate"
               [daysDisabled]="[6,0]"
               #dp="bsDatepicker"
               [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
      </div>
      <div class="form-group" style="margin-right:10px">
          <button class="btn btn-primary" style="height:50px" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Wybierz dzień</button>
          <button class="btn btn-success" style="height:50px; margin-left:20px" (click)="updateShifts()">Zaktualizuj</button>
      </div>
  </div>

  <div>
  <table class="table table-dark">
      <thead>
          <th style="text-align: center">Nazwa Atrakcji</th>
          <th style="text-align: center">Ilość odwiedzin</th>
          <th style="text-align: center">Maksymalna ilość miejsc</th>
        </thead>
      <tbody>
        <tr *ngFor="let shift of shifts; let in = index">
          <td><input class="form-control" type="text" name="attractionname-{{in}}" [(ngModel)]="shift.attraction.name" disabled></td>
          <td><input class="form-control" [(ngModel)]="shift.taken_seats" (ngModelChange)="onSeatsChange($event, in)"></td>
          <td><input class="form-control" type="text" name="attractionmaxseats-{{in}}" [(ngModel)]="shift.attraction.maxSeats" disabled></td>
        </tr>
      </tbody>
  </table>
  </div>

</div>


<popup #popup1 (cancelClick)="noUpdate()" style="font-size: 14px">Proszę uzupełnić frekwencję</popup>


<popup #popup2 style="font-size: 14px">{{this.errorPopup}}</popup>

<popup #popup3 style="font-size: 14px">Operacja zakonczona sukcesem!</popup>
