
<div class="request-site">
    <div class=row>
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group theme-dark-blue">
          <input class="form-control"
                readonly
                 (bsValueChange)="whenChange($event)"
                 placeholder="wybierz dzień"
                 bsDatepicker
                 [minDate]="minDate"
                 [daysDisabled]="[6,0]"
                 #dp="bsDatepicker"
                 [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
        </div>
        <div class="form-group" style="margin-right:10px">
            <button class="btn btn-primary" style="height:50px" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Wybierz dzień</button>
            <button class="btn btn-success" style="height:50px; margin-left:20px" (click)="processUpdate()">Zaktualizuj</button>
        </div>
    </div>

    <div>
    <table class="table table-dark">
        <thead>
            <th style="text-align: center">Atrakcja przypisana przez kierownika</th>
            <th style="text-align: center">Prośba o pracę przy</th>
          </thead>
        <tbody>
          <tr *ngFor="let shift of shifts; let in = index">
            <td><input class="form-control" type="text" name="attractionname-{{in}}" [(ngModel)]="shift.attraction.name" disabled></td>
            <td><select class="form-control" [(ngModel)]="attraction.name" (ngModelChange)="onAttractionChange($event, in)">
                <option *ngFor="let attraction of attractions" [value]="attraction.name">
                 {{attraction.name}}
                </option>
            </select></td>          </tr>
        </tbody>
    </table>
    </div>

  </div>

  <popup #popup1 style="font-size: 14px">{{this.errorPopup}}</popup>

  <popup #popup2 style="font-size: 14px">Aktualizacja zakończona sukcesem!</popup>


