<div class="technic-site" style="font-size: 14px">
  <table class="table table-striped table-hover table-dark">
    <thead>
      <th style="text-align: center">Nazwa atrakcji</th>
      <th style="text-align: center">Data zgłoszenia</th>
      <th></th>
    </thead>
      <tbody>
        <tr *ngFor="let notification of notifications" style="text-align: center;" class="allign-bottom">
          <td>{{notification.attraction.name}}</td>
          <td>{{notification.opening_date}}</td>
          <td><button class="btn btn-dark" (click)="repair(notification)">Potwierdz naprawę</button></td>
        </tr>
      </tbody>
    </table>


  </div>

  <popup style="font-size: 14px">{{this.errorPopup}}</popup>
